
.lmj-contenaire {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-image: url('../assets/bg_image.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.lmj-formulaire {
    border: none;
    padding: 60px;
    margin: auto;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #6b9df4;
    opacity: 0.8;
}
.lmj-champ-item {
    margin: 10px;
}
.lmj-button {
    width: 100%;
    border-radius: 10px;
    height: 25px;
    border: none; 
    font-size: 20px; 
    font-family: 'Times New Roman', Times, serif;
}
fieldset {
    padding: 10px;
    border-radius: 25px;
}
